@import './app.scss';

html {
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
  body {
    @media (max-width: 768px) {
      header {
        overflow: unset !important;
        .navbar {
          z-index: 99;
          &-form {
            border: 0;
            margin: 0 5px;
          }
        }
        .container {
          background: #fff;
          border-bottom: 1px solid #f1f1f1;
        }
      }
      .swiper-container {
        position: static !important;
        width: 100%;
        height: 142px !important;
        margin: 0 auto;
        .swiper-pagination {
          display: none;
        }
          img {
            width: 100% !important;
            height: 142px !important;
          }
      }
      .container {
        &-hot {
          position: static !important;
          margin-top: 10px !important;
          &__title {
            text-align: left !important;
          }
          &__box {
            li {
              display: flex;
              align-items: flex-start;
              border-bottom: 1px solid #e1e1;
              padding-bottom: 10px;
              &:last-child {
                border-bottom: 0;
              }
            }
          }
        }
        &-news {
          &__left {
            &--box {
              li {
                width: 100%;
                overflow: hidden;
              }
              .item {
                a {
                  div {
                    flex: 1;
                    height: 80px !important;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: space-between;
                  }
                  p {
                    display: none !important;
                  }
                  h4 {
                    -webkit-line-clamp: 2 !important;
                    font-size: 14px !important;
                    font-weight: 400 !important;
                    line-height: 1.4;
                  }
                  img {
                    width: 104px !important;
                    height: 80px !important;
                    object-fit: cover;
                  }
                }
              }
            }
            &--more {
              margin-top: 15px !important;
              button {
                width: 100px !important;
                height: 30px !important;
                font-size: 14px !important;
                border-radius: 4px !important;
                img {
                  width: 14px !important;
                  height: 6px !important;
                }
              }
            }
          }
        }
        &-gongju {
          margin-top: 30px !important;
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 160px !important;
              height: auto !important;
              margin-right: 0 !important;
              margin-left: 10px !important;
              padding-bottom: 30px !important;
              div {
                width: 45px !important;
                height: 45px !important;
                img {
                  width: 26px !important;
                  height: 22.5px !important;
                }
              }
              p {
                font-size: 12px !important;
                margin-top: 15px !important; 
              }
            }
          }
        }
      }
      .footer {
        .container {
          &-link {
            display: none !important;
          }
          &-banquan {
            justify-content: center !important;
            a {
              display: none !important;
            }
          }
        }
      }
    }
    position: relative;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
    header {
      height: auto;
      background-color: #fff;
      width: 100%;
      margin: 0 !important;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 999;
      border-bottom: 1px solid rgba(0,0,0,.1);
      overflow: hidden;
      .navbar {
        background-color: #fff;
        max-width: 1200px;
        margin: 0 auto;
        border: 0;
        .form-group {
          position: relative;
          .icon {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 8px;
            background: transparent;
            border: 0;
            padding: 0;
            cursor: pointer;
          }
        }
        &-brand {
  color: #000 !important;
  font-weight: bold;
  padding: 0;
  img {
    height: 100%;
    width: auto;
    max-width: 200px;
  }
}
        &-nav {
          &>li>a {
            color: #000 !important;
            &.active {
              color: #FFB722 !important;
            }
            &:hover {
              color: #FFB722 !important;
            }
          }
        }
        &-ruzhu {
          a {
            padding: 7px 30px;
            margin: 8px 0 8px 15px;
            background:rgba(253,187,51,1);
            border-radius: 4px;
            color: #fff !important;
            &:hover {
              background-color: #FFB722 !important;
            }
          }
        }
        @media (min-width: 768px) {
          &-ruzhu {
            float: right;
          }
        }
      }
    }
    .swiper-container {
      margin-top: 50px;
      width: 100%;
      height: 400px;
      a {
        .tips-box {
          position: relative;
          max-width: 1170px;
          width: 100%;
          margin: 0 auto;
          .tips {
            position: absolute;
            top: 120px;
            font-size:60px;
            font-family:JQZhongYuanJT;
            font-weight:bold;
            color:rgba(255,255,255,1);
          }
        }
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
    .container {
      position: relative;
      &-hot {
        position: absolute;
        left: 0;
        right: 0;
        top: -50px;
        background-color: #fff;
        z-index: 100;
        box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.04);
        border-radius:4px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        &__title {
          text-align: center;
          font-weight: 500;
          color: #151515;
          font-size: 20px;
          padding: 10px 0;
          border-bottom: 1px solid #EBEBEB;
          img {
            vertical-align: top;
            margin-left: 5px;
          }
        }
        &__box {
          padding-bottom: 14px;
          padding-top: 10px;
          &>div{
            font-size: 14px;
            &:last-child {
              span {
                color: #A6A6A6;
              }
            }
            li {
              margin-top: 10px;
              list-style: none;
              display: flex;
              align-items: center;
              span {
                display: inline-block;
                font-size: 24px;
                margin-right: 12px;
                color: #FEBC34;
              }
              a {
                color: #333;
                width: 90%;
                &:hover {
                  color: #FEBC34;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      &-huati {
        margin-top: 220px;
        .row {
          padding-left: 0;
        }
        li {
          list-style: none;
          &.first {
            margin-bottom: 0px;
            a {
              background-color: #1D2224;
              color: #fff;
              font-size: 10px;
              display: inline-block;
              width:105px;
              border-radius: 3px;
              text-align: center;
              padding: 7px 0;
              img {
                width: 11px;
                height: 7px;
                margin-left: 5px;
              }
            }
            h3 {
              margin-top: 0;
            }
          }
          @media (max-width: 768px) {
            &.first {
              display: flex;
              justify-content: space-between;
              align-items: center;
              a {
                height: 40px;
                line-height: 40px;
                padding: 0;
              }
            }
          }
          margin-bottom: 180px;
        }
        &__item{
          height: 160px;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 4px;
          position: relative;
          &--card {
            background-color: #fff;
            width: auto;
            box-shadow:0px 4px 6px 0px rgba(0, 0, 0, 0.04);
            border-radius:4px;
            position: absolute;
            top: 120px;
            left: 30px;
            right: 30px;
            padding-bottom: 20px;
            
            &:hover {
              cursor: pointer;
              .card-title {
                color: #FFB722;
                text-decoration: none;
              }
              .card-icon {
                color: #FFB722;
                b {
                  background: url('/image/right1_hover@2x.png')no-repeat center;
                }
              }
            }
            .card-header {
              padding: 10px;
            }
            .card-title {
              transition: all .3s;
              display: block;
              font-weight: 500;
              font-size: 18px;
              color: #000;
              padding-left: 10px;
              text-overflow: -o-ellipsis-lastline;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              padding: 20px;
            }
            .card-icon {
              transition: all .3s;
              padding: 0 20px;
              position: relative;
              b {
                transition: all .3s;
                position: absolute;
                bottom: -10px;
                right: 0;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background: url('/image/right1.png')no-repeat center;
                background-size: 100% 100%;
              }
            }
          }
        }
      }
      &-news {
        margin-top: 60px;
        &__left {
          min-height: 500px;
          &--tab {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #F1F1F1;
            a {
              padding-bottom: 10px;
              color: #6D6D6D;
              font-size: 16px;
              border-bottom: 2px solid transparent;
              text-decoration: none;
              margin-right: 15px;
            }
            a.active {
              color: #1D2123;
              border-bottom: 2px solid #FFB722;
            }
          }
          &--box {
            padding-left: 0;
            height: 100%;
            transition: all .3s;
            .item {
              list-style: none;
              padding: 20px 0;
              border-bottom: 1px solid #F1F1F1;
              &:hover {
                background-color: #f1f1f1;
              }
              a {
                text-decoration: none;
                display: flex;
                align-items: center;
                &>img {
                  width: 200px;
                  height: 100px;
                  border-radius: 4px;
                  margin-right: 20px;
                }
                &>div {
                  height: 100px;
                  display: inline-flex;
                  flex-direction: column;
                  justify-content: space-between;
                }
                h4 {
                  margin-top: 0;
                  color: #1D2123;
                  font-size: 16px;
                }
                p {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                }
                p, span {
                  color: #6B6B6B;
                  font-size: 14px;
                }
                span {
                  font-family: Source Han Sans CN;
                  font-size: 12px;
                  margin-right: 10px;
                }
              }
            }
          }
          &--more {
            text-align: center;
            margin-top: 30px;
            button {
              cursor: pointer;
              border: 1px solid #0f1d37;
              border-radius: 25px;
              width: 200px;
              height: 40px;
              text-align: center;
              background-color: #fff;
              transition: all .3s;
              &:hover {
                background: #262626;
                color: #fff;
              }
              &:focus {
                outline: none;
              }
            }
            &.active {
              button {
                img {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
        &__right {
          .author,.question {
            padding: 0 10px;
            border: 1px solid #F1F1F1;
            h4 {
              color: #141414;
              font-size: 18px;
              padding: 10px 0;
              margin: 0;
              border-bottom: 1px solid #F1F1F1;
            }
          }
          .author {
            ul {
              padding: 0;
              margin: 0;
              padding-bottom: 20px;
              li {
                list-style: none;
                margin-top: 20px;
                a {
                  text-decoration: none;
                }
                .author-title {
                  display: flex;
                  .avatar {
                    display: inline-block;
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    margin-right: 10px;
                  }
                  .info {
                    &-name {
                      color: #141414;
                      font-size: 16px;
                      font-weight: 500;
                    }
                    &-vip {
                      margin-top: 10px;
                      font-size: 14px;
                      color: #141414;
                    }
                  }
                }
                .author-info {
                  color: #141414;
                  font-size: 12px;
                  padding: 12px;
                  background-color: #EFEFEF;
                  border-radius: 4px;
                  margin-top: 10px;
                }
              }
            }
          }
          .question {
            margin-top: 20px;
            ul {
              li {
                padding: 15px 0;
                color: #1D2123;
                font-size: 14px;
                border-bottom: 1px solid #F1F1F1;
                padding-left: 10px;
                a {
                  color: inherit;
                  position: relative;
                  text-decoration: none;
                  &:hover {
                    color: #FFB722;
                  }
                  &::after {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #1D2123;
                    position: absolute;
                    top: 5px;
                    left: -15px;
                  }
                }
                &:last-child {
                  border: 0;
                }
              }
            }
          }
        }
      }
      &-gongju {
        margin-top: 60px;
        &__title {
          font-size: 16px;
          color: #1D2123;
          border-bottom: 1px solid #e1e1e1;
          padding-bottom: 16px;
          span {
            padding-bottom: 17px;
            border-bottom: 2px solid #FFB722;
          }
        }
        ul {
          .gj-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
          }
          li {
            margin: 20px 0;
            display: inline-block;
            background:rgba(255,255,255,1);
            border:1px solid rgba(241,241,241,1);
            width: 180px;
            height: 205px;
            text-align: center;
            padding-top: 30px;
            &:hover {
              div {
                background: #FEBC34;
              }
            }
            a {
              color: #151515;
              text-align: center;
              text-decoration: none;
              div {
                width:90px;
                height: 90px;
                background:rgba(29,33,35,1);
                border-radius:50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;
              }
              p {
                margin-top: 30px;
                color: #1D2123;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
